<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Agregar medicamento'" [items]="['Farmacia']" [active_item]="'Agregar medicamento'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Agregar medicamento</strong></h2>
          </div>
          <div class="body">
            <form class="register-form m-4" [formGroup]="medicineListForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nro</mat-label>
                    <input matInput formControlName="m_no" type="number" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>receipt</mat-icon>
                    <mat-error *ngIf="medicineListForm.get('m_no')?.hasError('required')">
                      Se requiere Nro
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre del medicamento</mat-label>
                    <input matInput formControlName="m_name" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>medication</mat-icon>
                    <mat-error *ngIf="medicineListForm.get('m_name')?.hasError('required')">
                      El nombre del medicamento es obligatorio.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="category" required>
                      <mat-option [value]="'Tablet'">
                        Tableta
                      </mat-option>
                      <mat-option [value]="'Syrup'">
                        Jarabe
                      </mat-option>
                      <mat-option [value]="'Injectable'">
                        Inyectable
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="medicineListForm.get('category')?.hasError('required')">
                      Se requiere estado
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre de empresa</mat-label>
                    <input matInput formControlName="company" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>store</mat-icon>
                    <mat-error *ngIf="medicineListForm.get('company')?.hasError('required')">
                      El nombre de la empresa es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Fecha de compra</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="p_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="medicineListForm.get('p_date')?.hasError('required')">
                      Por favor seleccione fecha
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput formControlName="price" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>monetization_on</mat-icon>
                    <mat-error *ngIf="medicineListForm.get('price')?.hasError('required')">
                      Se requiere precio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Fecha de vencimiento</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="e_date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="medicineListForm.get('e_date')?.hasError('required')">
                      Por favor seleccione fecha
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Existencias</mat-label>
                    <input matInput formControlName="stock" type="number" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>inventory_2</mat-icon>
                    <mat-error *ngIf="medicineListForm.get('stock')?.hasError('required')">
                      Se requiere existencias
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row">
                    <button mat-raised-button color="primary" [disabled]="!medicineListForm.valid">Guardar</button>
                    <button type="button" mat-raised-button color="warn">Cancelar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
