@media (min-width: 600px) {
    .custom-spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .custom-spinner {
        width: 90px; /* Tamaño del spinner */
        height: 90px; /* Tamaño del spinner */
        border: 6px solid #d91f34; /* Estilo del borde */
        border-bottom-color: transparent; /* Hace el borde inferior transparente */
        border-radius: 50%; /* Hace que la forma sea un círculo */
        animation: ball-clip-rotate 1s infinite linear;
      }
      
      @keyframes ball-clip-rotate {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(180deg);
          border-bottom-color: #d91f34; /* Hace que el borde inferior sea visible */
        }
        100% {
          transform: rotate(360deg);
          border-bottom-color: transparent; /* Vuelve a hacer el borde inferior transparente */
        }
      }
}
@media (max-width: 600px) {
    .custom-spinner-container {
        top: 50%; /* Centrado verticalmente */
        padding-left: 60%; /* Centrado horizontalmente */
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center; /* Esto centrará horizontalmente los elementos hijos */
        justify-content: center; /* Esto centrará verticalmente los elementos hijos */
      }
    
      .custom-spinner {
        width: 60px; /* Tamaño del spinner */
        height: 60px;
        border: 4px solid #d91f34; /* Grosor del borde visible */
        border-bottom-color: transparent; /* Hace el borde inferior transparente */
        border-radius: 50%; /* Hace que la forma sea un círculo */
        animation: ball-clip-rotate 1s infinite linear;
      }
    
      .custom-spinner-container img {
        width: 300%; /* Aumenta el tamaño de la imagen */
        max-width: 3300px; /* Ajusta el tamaño máximo que la imagen puede tener */
        height: auto; /* Mantiene la proporción de la imagen */
        display: block; /* Esto asegura que la imagen no afecte la posición del spinner */
        margin: 20px auto; /* Esto centrará la imagen horizontalmente y añadirá un poco de espacio arriba y abajo */
      } 
    @keyframes ball-clip-rotate {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(180deg);
          border-bottom-color: #d91f34; /* Hace que el borde inferior sea visible */
        }
        100% {
          transform: rotate(360deg);
          border-bottom-color: transparent; /* Vuelve a hacer el borde inferior transparente */
        }
      }
}
  