<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Agregar factura'" [items]="['Facturación']" [active_item]="'Agregar factura'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Agregar factura</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="billForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nro factura</mat-label>
                    <input matInput formControlName="bNo" required>
                    <mat-error *ngIf="billForm.get('bNo')?.hasError('required')">
                      Se requiere el número de factura
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Admisión ID</mat-label>
                    <input matInput formControlName="admissionID" required>
                    <mat-error *ngIf="billForm.get('admissionID')?.hasError('required')">
                      Se requiere ID de admisión
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre del paciente</mat-label>
                    <input matInput formControlName="pName" required>
                    <mat-error *ngIf="billForm.get('pName')?.hasError('required')">
                      El nombre del paciente es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre del médico</mat-label>
                    <mat-select formControlName="dName" required>
                      <mat-option [value]="'1'">
                        DR. John Deo
                      </mat-option>
                      <mat-option [value]="'2'">
                        Dr.Rajesh
                      </mat-option>
                      <mat-option [value]="'3'">
                        DR. Megha Trivedi
                      </mat-option>
                      <mat-option [value]="'4'">
                        DR. Smith
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="billForm.get('dName')?.hasError('required')">
                      Se requiere el nombre del médico
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Fecha de admisión</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="aDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="billForm.get('aDate')?.hasError('required')">
                      Por favor seleccione fecha
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Fecha de alta</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="billForm.get('dDate')?.hasError('required')">
                      Por favor seleccione fecha
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Descuento</mat-label>
                    <input matInput formControlName="discount">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Cantidad total</mat-label>
                    <input matInput formControlName="total">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Método de pago</mat-label>
                    <mat-select formControlName="pMethod" required>
                      <mat-option [value]="'1'">
                        Dinero
                      </mat-option>
                      <mat-option [value]="'2'">
                        Cheque
                      </mat-option>
                      <mat-option [value]="'3'">
                        Tarjeta de crédito
                      </mat-option>
                      <mat-option [value]="'4'">
                        Tarjeta de débito
                      </mat-option>
                      <mat-option [value]="'5'">
                        BanCo net
                      </mat-option>
                      <mat-option [value]="'6'">
                        Seguro
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="billForm.get('pMethod')?.hasError('required')">
                      Se requiere método de pago
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Estado de pago</mat-label>
                    <mat-select formControlName="pStatus" required>
                      <mat-option [value]="'Paid'">
                        Pagado
                      </mat-option>
                      <mat-option [value]="'Unpaid'">
                        No pagado
                      </mat-option>
                      <mat-option [value]="'Partial'">
                        Parcial
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="billForm.get('pStatus')?.hasError('required')">
                      Se requiere estado de pago
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" mat-raised-button color="primary"
                    [disabled]="!billForm.valid">Entregar</button>
                  <button type="button" mat-raised-button color="warn">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
