<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Editar asignación'" [items]="['Habitación']" [active_item]="'Editar asignación'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Editar asignación</strong></h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nro.habitación</mat-label>
                    <input matInput formControlName="rNo" required>
                    <mat-error *ngIf="roomForm.get('rNo')?.hasError('required')">
                      Se requiere el número de habitación
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Tipo de habitación</mat-label>
                    <mat-select formControlName="rType" required>
                      <mat-option [value]="'1'">
                        General
                      </mat-option>
                      <mat-option [value]="'2'">
                        De lujo
                      </mat-option>
                      <mat-option [value]="'3'">
                        Super lujo
                      </mat-option>
                      <mat-option [value]="'4'">
                        ICU
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="roomForm.get('rType')?.hasError('required')">
                      Se requiere tipo de habitación
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre del paciente</mat-label>
                    <input matInput formControlName="pName" required>
                    <mat-error *ngIf="roomForm.get('pName')?.hasError('required')">
                      El nombre del paciente es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Fecha de adjudicación</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="aDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="roomForm.get('aDate')?.hasError('required')">
                      Por favor seleccione fecha
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Fecha de alta</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="roomForm.get('dDate')?.hasError('required')">
                      Por favor seleccione fecha
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!roomForm.valid " mat-raised-button
                    color="primary">Entregar</button>
                  <button type="button" mat-raised-button color="warn">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
