<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Agregar departamento'" [items]="['Departamentos']" [active_item]="'Agregar departamento'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Agregar departamento</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="departForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nro de departamento</mat-label>
                    <input matInput formControlName="d_no" type="number" required>
                    <mat-error *ngIf="departForm.get('d_no')?.hasError('required')">
                      El número de departamento es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre de Departamento</mat-label>
                    <input matInput formControlName="d_name" required>
                    <mat-error *ngIf="departForm.get('d_name')?.hasError('required')">
                      El nombre del departamento es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>fecha de departamento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="d_date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="departForm.get('d_date')?.hasError('required')">
                      Por favor seleccione fecha
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Jefe de departamento</mat-label>
                    <input matInput formControlName="d_head" required>
                    <mat-error *ngIf="departForm.get('d_head')?.hasError('required')">
                      Se requiere jefe de departamento
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label> Estado</mat-label>
                    <mat-select formControlName="status" required>
                      <mat-option [value]="'Active'">
                        Activo
                      </mat-option>
                      <mat-option [value]="'Inactive'">
                        Inactivo
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="departForm.get('status')?.hasError('required')">
                      Se requiere estado
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!departForm.valid " mat-raised-button
                    color="primary">Entregar</button>
                  <button type="button" mat-raised-button color="warn">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
